this is the mock page
<style>
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }


.wrapper {
	outline: 2px solid black;
	width: 900px;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.inner {
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.col {
	width: 180px;
	height: 100%;
	display: inline-block;
	overflow-y: scroll;
	margin-right: -3px;
	padding-bottom: 40px;
}
.list-item {
	background-color: lightblue;
	font-size: 18px;
	line-height: 1.3em;
	border-bottom: 1px solid white;
}
#bottom-bar {
	position: absolute;
	height: 30px;
	bottom:0;
	width: 100%;
	background-color: yellow;
}
</style>

<div class="wrapper">
	<div class="inner">
	<div class="col">
			<div class="list-item">blah 1</div>
			<div class="list-item">blah 2</div>
			<div class="list-item">blah 3</div>
			<div class="list-item">blah 4</div>
			<div class="list-item">blah 5</div>
			<div class="list-item">blah 6</div>
			<div class="list-item">blah 7</div>
			<div class="list-item">blah 8</div>
			<div class="list-item">blah 9</div>

			<div class="list-item">blah 10</div>
			<div class="list-item">blah 11</div>
			<div class="list-item">blah 12</div>
			<div class="list-item">blah 13</div>
			<div class="list-item">blah 14</div>
			<div class="list-item">blah 15</div>
			<div class="list-item">blah 16</div>
			<div class="list-item">blah 17</div>
			<div class="list-item">blah 18</div>
			<div class="list-item">blah 19</div>

			<div class="list-item">blah 20</div>
			<div class="list-item">blah 21</div>
			<div class="list-item">blah 22</div>
			<div class="list-item">blah 23</div>
			<div class="list-item">blah 24</div>
			<div class="list-item">blah 25</div>
			<div class="list-item">blah 26</div>
			<div class="list-item">blah 27</div>
			<div class="list-item">blah 28</div>
			<div class="list-item">blah 29</div>

			<div class="list-item">blah 30</div>
			<div class="list-item">blah 31</div>
			<div class="list-item">blah 32</div>
			<div class="list-item">blah 33</div>
			<div class="list-item">blah 34</div>
			<div class="list-item">blah 35</div>
			<div class="list-item">blah 36</div>
			<div class="list-item">blah 37</div>
			<div class="list-item">blah 38</div>
			<div class="list-item">blah 39</div>
	</div>
	<div class="col col2">
			<div class="list-item">blah 1</div>
			<div class="list-item">blah 2</div>
			<div class="list-item">blah 3</div>
			<div class="list-item">blah 4</div>
			<div class="list-item">blah 5</div>
			<div class="list-item">blah 6</div>
			<div class="list-item">blah 7</div>
			<div class="list-item">blah 8</div>
			<div class="list-item">blah 9</div>

			<div class="list-item">blah 10</div>
			<div class="list-item">blah 11</div>
			<div class="list-item">blah 12</div>
			<div class="list-item">blah 13</div>
			<div class="list-item">blah 14</div>
			<div class="list-item">blah 15</div>
			<div class="list-item">blah 16</div>
			<div class="list-item">blah 17</div>
			<div class="list-item">blah 18</div>
			<div class="list-item">blah 19</div>

			<div class="list-item">blah 20</div>
			<div class="list-item">blah 21</div>
			<div class="list-item">blah 22</div>
			<div class="list-item">blah 23</div>
			<div class="list-item">blah 24</div>
			<div class="list-item">blah 25</div>
			<div class="list-item">blah 26</div>
			<div class="list-item">blah 27</div>
			<div class="list-item">blah 28</div>
			<div class="list-item">blah 29</div>

			<div class="list-item">blah 30</div>
			<div class="list-item">blah 31</div>
			<div class="list-item">blah 32</div>
			<div class="list-item">blah 33</div>
			<div class="list-item">blah 34</div>
			<div class="list-item">blah 35</div>
			<div class="list-item">blah 36</div>
			<div class="list-item">blah 37</div>
			<div class="list-item">blah 38</div>
			<div class="list-item">blah 39</div>
	</div>
	<div class="col col2">
			<div class="list-item">blah 1</div>
			<div class="list-item">blah 2</div>
			<div class="list-item">blah 3</div>
			<div class="list-item">blah 4</div>
			<div class="list-item">blah 5</div>
			<div class="list-item">blah 6</div>
			<div class="list-item">blah 7</div>
			<div class="list-item">blah 8</div>
			<div class="list-item">blah 9</div>

			<div class="list-item">blah 10</div>
			<div class="list-item">blah 11</div>
			<div class="list-item">blah 12</div>
			<div class="list-item">blah 13</div>
			<div class="list-item">blah 14</div>
			<div class="list-item">blah 15</div>
			<div class="list-item">blah 16</div>
			<div class="list-item">blah 17</div>
			<div class="list-item">blah 18</div>
			<div class="list-item">blah 19</div>

			<div class="list-item">blah 20</div>
			<div class="list-item">blah 21</div>
			<div class="list-item">blah 22</div>
			<div class="list-item">blah 23</div>
			<div class="list-item">blah 24</div>
			<div class="list-item">blah 25</div>
			<div class="list-item">blah 26</div>
			<div class="list-item">blah 27</div>
			<div class="list-item">blah 28</div>
			<div class="list-item">blah 29</div>

			<div class="list-item">blah 30</div>
			<div class="list-item">blah 31</div>
			<div class="list-item">blah 32</div>
			<div class="list-item">blah 33</div>
			<div class="list-item">blah 34</div>
			<div class="list-item">blah 35</div>
			<div class="list-item">blah 36</div>
			<div class="list-item">blah 37</div>
			<div class="list-item">blah 38</div>
			<div class="list-item">blah 39</div>
	</div>
	<div class="col col2">
			<div class="list-item">blah 1</div>
			<div class="list-item">blah 2</div>
			<div class="list-item">blah 3</div>
			<div class="list-item">blah 4</div>
			<div class="list-item">blah 5</div>
			<div class="list-item">blah 6</div>
			<div class="list-item">blah 7</div>
			<div class="list-item">blah 8</div>
			<div class="list-item">blah 9</div>

			<div class="list-item">blah 10</div>
			<div class="list-item">blah 11</div>
			<div class="list-item">blah 12</div>
			<div class="list-item">blah 13</div>
			<div class="list-item">blah 14</div>
			<div class="list-item">blah 15</div>
			<div class="list-item">blah 16</div>
			<div class="list-item">blah 17</div>
			<div class="list-item">blah 18</div>
			<div class="list-item">blah 19</div>

			<div class="list-item">blah 20</div>
			<div class="list-item">blah 21</div>
			<div class="list-item">blah 22</div>
			<div class="list-item">blah 23</div>
			<div class="list-item">blah 24</div>
			<div class="list-item">blah 25</div>
			<div class="list-item">blah 26</div>
			<div class="list-item">blah 27</div>
			<div class="list-item">blah 28</div>
			<div class="list-item">blah 29</div>

			<div class="list-item">blah 30</div>
			<div class="list-item">blah 31</div>
			<div class="list-item">blah 32</div>
			<div class="list-item">blah 33</div>
			<div class="list-item">blah 34</div>
			<div class="list-item">blah 35</div>
			<div class="list-item">blah 36</div>
			<div class="list-item">blah 37</div>
			<div class="list-item">blah 38</div>
			<div class="list-item">blah 39</div>
	</div>
	<div class="col col2">
			<div class="list-item">blah 1</div>
			<div class="list-item">blah 2</div>
			<div class="list-item">blah 3</div>
			<div class="list-item">blah 4</div>
			<div class="list-item">blah 5</div>
			<div class="list-item">blah 6</div>
			<div class="list-item">blah 7</div>
			<div class="list-item">blah 8</div>
			<div class="list-item">blah 9</div>

			<div class="list-item">blah 10</div>
			<div class="list-item">blah 11</div>
			<div class="list-item">blah 12</div>
			<div class="list-item">blah 13</div>
			<div class="list-item">blah 14</div>
			<div class="list-item">blah 15</div>
			<div class="list-item">blah 16</div>
			<div class="list-item">blah 17</div>
			<div class="list-item">blah 18</div>
			<div class="list-item">blah 19</div>

			<div class="list-item">blah 20</div>
			<div class="list-item">blah 21</div>
			<div class="list-item">blah 22</div>
			<div class="list-item">blah 23</div>
			<div class="list-item">blah 24</div>
			<div class="list-item">blah 25</div>
			<div class="list-item">blah 26</div>
			<div class="list-item">blah 27</div>
			<div class="list-item">blah 28</div>
			<div class="list-item">blah 29</div>

			<div class="list-item">blah 30</div>
			<div class="list-item">blah 31</div>
			<div class="list-item">blah 32</div>
			<div class="list-item">blah 33</div>
			<div class="list-item">blah 34</div>
			<div class="list-item">blah 35</div>
			<div class="list-item">blah 36</div>
			<div class="list-item">blah 37</div>
			<div class="list-item">blah 38</div>
			<div class="list-item">blah 39</div>
	</div>
	<div class="col col2">
			<div class="list-item">blah 1</div>
			<div class="list-item">blah 2</div>
			<div class="list-item">blah 3</div>
			<div class="list-item">blah 4</div>
			<div class="list-item">blah 5</div>
			<div class="list-item">blah 6</div>
			<div class="list-item">blah 7</div>
			<div class="list-item">blah 8</div>
			<div class="list-item">blah 9</div>

			<div class="list-item">blah 10</div>
			<div class="list-item">blah 11</div>
			<div class="list-item">blah 12</div>
			<div class="list-item">blah 13</div>
			<div class="list-item">blah 14</div>
			<div class="list-item">blah 15</div>
			<div class="list-item">blah 16</div>
			<div class="list-item">blah 17</div>
			<div class="list-item">blah 18</div>
			<div class="list-item">blah 19</div>

			<div class="list-item">blah 20</div>
			<div class="list-item">blah 21</div>
			<div class="list-item">blah 22</div>
			<div class="list-item">blah 23</div>
			<div class="list-item">blah 24</div>
			<div class="list-item">blah 25</div>
			<div class="list-item">blah 26</div>
			<div class="list-item">blah 27</div>
			<div class="list-item">blah 28</div>
			<div class="list-item">blah 29</div>

			<div class="list-item">blah 30</div>
			<div class="list-item">blah 31</div>
			<div class="list-item">blah 32</div>
			<div class="list-item">blah 33</div>
			<div class="list-item">blah 34</div>
			<div class="list-item">blah 35</div>
			<div class="list-item">blah 36</div>
			<div class="list-item">blah 37</div>
			<div class="list-item">blah 38</div>
			<div class="list-item">blah 39</div>
	</div>
	</div>
	<div id="bottom-bar">
		blah blah blah
	</div>
</div>